/* General Styles */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ECEEFF;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: #a76571;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}

/* Header Styles */
header {
    background-color: #565676;
    padding: 25px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
  
nav ul li a {
    font-family: 'Lucida Sans';
    font-size: 23px;
    color: #aeadf0;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    margin-left: 80px;
}
  
nav ul li a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.container {
    max-width: 1200px;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main Content Styles */
main {
    padding: 20px;
}
  
.boards-section {
    margin: 30px auto;
    max-width: 1000px;
}
  
/* Degree Objectives Styles */
.degree-objectives {
    background-color: rgba(195, 141, 148, 0.5);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.degree-objectives h2 {
    color: #565676;
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
}
  
.degree-objectives ul {
    list-style: none;
    padding-left: 0;
}
  
.degree-objectives li {
    margin-bottom: 10px;
}
  
.degree-objectives h3 {
    font-size: 23px;
    margin-bottom: 5px;
    color: #2a2a2a;
}

footer{
    text-align: center;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 50px;
    width: 100%;
}